<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Esqueceu sua senha?</div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
            <input autofocus="autofocus" autocomplete="email" placeholder="Digite seu email" type="email" value="" name="user[email]" id="user_email" class="form-control">
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn btn-primary btn-lg btn-block" name="commit" id="submit" value="Recuperar senha" data-disable-with="Recuperar senha">
        </div>
      <% end %>
      <div class="row">
        <div class="col-12">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
