<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        Card 1
      </div>
      <div class="card-body">
        Hello
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        Card 2
      </div>
      <div class="card-body">
        World
      </div>
    </div>
  </div>
</div>
